ul {
  margin: 0 0 15px;
}

li {
  list-style: none;
  color: #70757a;
}
h1 {
  color: #70757a;
  margin: 0;
}

.weather-app {
  border: 1px solid;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  color: #70757a;
}

h3 {
  color: grey;
  display: block;
  margin: 20px auto;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  line-height: 1;
}

.temperature {
  font-size: 64px;
  font-weight: 50;
  line-height: 1;
  color: #70757a;
}

.units {
  position: relative;
  top: -32px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  line-height: 1;
}
