ul {
  margin: 0 0 15px;
}

li {
  list-style: none;
  color: #70757a;
}
h1 {
  color: #202124;
}

.weather-app {
  border: 1px solid;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -32px;
}
